body {
	background-color: #eaeaea;
	font-family: 'Montserrat', sans-serif;
}
.header{
	height: 110px;
}
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
	padding-left: 17px;
	padding-right: 17px;
}
.navigation{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 35px;
	padding-bottom: 42px;
}
.logo{
	width: 80px;
	height: 80px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.nav {
	display: flex;
	list-style-type: none;
	font-weight: 700px;
	text-transform: uppercase;
	padding-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.nav>li{
	padding-left: 20px;
	margin-left: 20px;
	position: relative;

}

.nav>li::before {
	content: '';
	display: block;
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: black;
	left: 0px;
}
.nav>li:first-child{
	padding-left: 0px;
	margin-left: 0px;
}
.nav>li:first-child::before{
	display: none;	
}
.nav>li>a{
	text-decoration: none;
	font-size:17px;
	color: black;
}
.nav>li>a:hover{ 
	cursor: pointer;
	color: #e1df31; 
}

.section{
	background-image: url(../image/bg_page_2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	padding-top: 214px;
	padding-bottom: 327px;
}
.title{
	font-size: 45px;
	margin-bottom: 20px;
}
.zakaz{
	font-size: 25px;
	line-height: 30px;
	max-width: 586px;
	margin-bottom: 24px;
}
.botton{
	display: block;
	border: 3px solid;
	text-decoration: none;
	font-weight: 650px;
	max-width: 190px;
	text-transform: uppercase;
	font-size: 18px;
	color: white;
	text-align: center;
	padding: 10px 0px;
	
}
.Pizza{
	position: absolute;
	top: -235px;
	right: -15px;
	width: 690px;
	height: 530px;
}
footer {
	position: relative;
	margin: 0 auto;
	text-align: center;
}
